.studentForm {

    background-color: white;
    padding: 20px;

    &__title {
        font-size: 1.7em;
        margin-bottom: 15px;
    }

    &__errors {
        color: red;
        margin: 5px 0;
    }

    &__inputs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        margin-bottom: 10px;
    }

    &__button {
        display: flex;
        justify-content: end;
        margin-top: 15px;
    }

}