@import '../../designUtils/colors.scss';

.searchBar {
    background-color: white;
    padding: 10px;
    &__input {
        border: none;
        border-bottom: 2px $background-gray solid;
        padding: 10px;
        width: 560px;
        font-size: 1.2em;
        &::placeholder {
            font-size: 1.2em;
        }

        &:focus {
            outline: none;
            border-bottom: 2px gray solid;           
        }
    }

    @media only screen and (max-width: 440px){
        &__input {
            width: -webkit-fill-available;
        }
    }  
}