@import 'designUtils/colors.scss';

body {
    font-family: -apple-system,BlinkMacSystemFont,Raleway,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    background-color: $background-gray;
}

.studentDetail {
    max-width: 800px;
    margin: 40px auto;
}


.boxContainer {
    display: flex;
    gap: 10px;
}

   
.box {
    height: 150px;
    width: 150px;
    background-color: blue;

    &-active {
        background-color: red;
    }
}