@import 'designUtils/colors.scss';

body {
    font-family: -apple-system,BlinkMacSystemFont,Raleway,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    background-color: $background-gray;
}

.studentDetail {
    max-width: 800px;
    margin: 40px auto;
}